<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.wanther.cropper.sample">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".TestItemActivity" android:screenOrientation="portrait" />

    </application>

</manifest>
